body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

main{
    margin: 5%;
    max-width: 90%;
    height: 100vh;
}

.head-bande, .head-movie{
    max-width: 90%;
    margin: auto;
    width: 90%;
}

.grid-container {
    margin: 5%!important;
}


.head-bande {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.head-movie {
    margin: auto;
    height: auto;
}

header.head-bande{
    position: relative;
    max-width: 90%;
    margin: auto;
    z-index: 1041;
    display: flex;
    height: auto;
    min-height: 140px;
    max-height: 200px;
    margin-top: 3%;
    margin-bottom: 2%;
    background-color: #61787F;
}




.logo {
    flex: 1;
    max-width: 25%;
}

.logo img {
    width: 100%;
    height: auto;
}

.head-title-cont {
    flex: 3;
}

.head-title{
    color: white;
    font-family: 'Oswald';
    font-size: 38px;
    display: flex;
    justify-content: start;
    align-items: center;
    /* margin-left: 3%; */
}

.top-mv {
    height: 260;
    border: black;
    border-style: solid ;
    border-width: 3px;
}

.category-name {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
}

.grid-container {
    display: grid;
    align-items: center;   
    grid-template-columns: repeat(3, 1fr);
}

.category-title {
    align-items: center;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.top-grid-item {
    margin: auto;
}

.grid-item {
    position: relative;
    border: 0px;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 7%;
    text-align: left;
}

.cat-banner {
    position: absolute;
    width: 105%;
    height: 30%;
    top: 20%;
    background-color: rgb(14, 13, 13);
    opacity: 0.6;
}

.top-left {
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    color: white;
    top: 20%;
    left: 3%;
  }

.top-right {
    position: absolute;
    background-color: rgb(40, 39, 39);
    opacity: initial;
    border: 0;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 25px;
    top: 35%;
    right: 1%;
    z-index: 1000;
}

.select-container {
    margin-top: 30px;
    flex-grow: 3;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    width: 25%;
    padding: 10px;
    font-size: 26px;
    font-weight: bold;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    text-align: left; 
    outline: none;
}

/* Add hover effect */
select:hover {
    background-color: #f5f5f5;
}

/* Add focus effect */
select:focus {
    border-color: #007bff; 
}


.select-container{
    margin-bottom: 15px;
}

option-select{
    display: none;
}

/* MODAL, Main movie */
.modal-button {
    background-color: #ec0a19;
    border: 0;
    border-radius: 15px;
    color: #fff;
    margin: auto;
    font-size: 18px;
    padding: 10px 25px;
    margin-left: auto;
    margin-bottom: 4%;
    margin-right: 5%;
}

.modal-dialog{
    height: 80%;
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    /* Center modal */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0; 
    pointer-events: none; 
    top: 0;
    left: 0;
    height: 100vh; 
    width: 100vw;
    transition: opacity 0.3s ease;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
  }
  
.modal-content {
    background-color: #fff;
    font-family: Oswald;
    border-radius: 5px;
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
    text-align: center;
}

.col-lg-6 p {
    margin-bottom: 0;
    text-align: left;
  }
  
/* Modal informations */
.info-movie{
    left: 5%;
    font-weight: bold;
    font-size: 12px;
}

.mv-dir{
    margin-top: 10%;
    margin-bottom: 10%;
}

.description-actors{
    font-size: 10px;
    text-align: left;
}

.fa.fa-close {
    display: none;
}

.btn.btn-danger {
    display: block;
    position: absolute;
    margin-top: 10%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn.btn-danger.ch1{
    position: relative;
    margin: 2%;
    font-weight: bold;
    font-size: 22px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}
.btn.btn-danger.ch2{
    position: relative;
    margin: 2%;
    font-weight: bold;
    font-size: 22px;
    left: 50%;
    display: none;
}

.btn.btn-danger.ch2.no-data {
    display: none !important;
}

.lg-descrip-2{
    display: none;
}


/* desktop breakpoint */
@media only screen and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    .grid-container .grid-item:nth-child(n+5) {
        display: none;
    }
    
    .grid-container.show-more .grid-item:nth-child(n+5) {
        display: block;
    }

    .fa.fa-close {
        display: block;
    }
    .btn.btn-danger {
        display: none;
    }
    .btn.btn-danger.ch1{
        display: block;
    }
    .btn.btn-danger.ch2{
        display: block;
    }

    }
    .row-top {
        display: grid;
        gap: 20px;
    }

.top-img {
    display: flex;
    max-height: 550px;
    justify-content: center;
    align-items: center;
}

.top-img img {
    margin-top: 2%;
    margin-bottom: 2%;
    max-height: 400px;
    width: 85%;
}


@media screen and (min-width: 780px) {
    .row-top {
        grid-template-columns: 1fr 1fr;
    }
    
    .top-img {
        max-height: 150px;
    }

    .top-img {
        display: flex;
        max-height: 550px;
        justify-content: center;
        align-items: center;
    }

    .modal-button{
        display: flex;
        margin-right: 1%;
    }

    .lg-descrip-1{
        display: none;
    }

    .lg-descrip-2{
        display: block;
        font-size: 10px;
    }

}

/* Mobile breakpoint */
@media screen and (max-width: 780px) {
    header.head-bande{
        height: 100px;
        display: flex;       
        justify-content: center;
        align-items: center;
    }

    header.head-bande > .head-bande {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .head-title-cont {
        display: none; /* Hide the title */
    }

    .logo {
        display: flex;  
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%; /* Ensure it takes full height of the header */
    }

    .logo img {
        height: 80%; /* Increase image size */
        max-height: 100px; /* Prevent it from getting too large */
        width: auto; /* Keep the aspect ratio */
        display: block;
    }
    
    .top-img{
        display: flex;
        max-height: 550px;
        justify-content: center;
        align-items: center; 
    }
    
    .top-img img{
        max-height: 250px;
        width: 75%;
    }

    .modal-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .best-movie, .category-title{
        display: flex;
        justify-content: center;
    }

    .grid-container{
        margin-left: 5%;
        width: 95%;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .grid-container .grid-item:nth-child(n+3) {
        display: none;
    }
    .grid-container.show-more .grid-item:nth-child(n+3) {
        display: block;
    }

    .lg-descrip-1{
        display: none;
    }

    .lg-descrip-2{
        display: block;
        font-size: 10px;
    }

    .genres-choice{
        margin-top: 3%;
        display: none;
    }

}

/* forcing break point for desktop text */
@media screen and (min-width: 1025px) {
    .lg-descrip-2 {
        display: none !important;
    }

    /*dropdown arrow */
    select {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="black" d="M7 10l5 5 5-5H7z"/></svg>')!important;
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 50px;
        padding-right: 35px;
    }
}
