body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.main{
    position: relative;
    margin: 5%;
    width: 90%;
    height: 100vh;
}

.head-bande {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    flex: 1;
    max-width: 25%;
}

.logo img {
    width: 100%;
    height: auto;
}

.head-title-cont {
    flex: 3;
}

.head-logo{
    display: flex;
    width: 100%;
    height: 240px;
    margin-top: 3%;
    margin-bottom: 2%;
    background-color: #61787F;
}

.head-title{
    color: white;
    font-family: 'Oswald';
    font-size: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    /* margin-left: 3%; */
}

.top-mv {
    height: 260;
    border: black;
    border-style: solid ;
    border-width: 3px;
}

.category-name {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
}

.grid-container {
    display: grid;
    align-items: center;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
}

.category-title {
    align-items: center;
    gap: 5px;
    margin-top: 3%;
    margin-bottom: 2%;
}

.top-grid-item {
    margin: auto;
}

.grid-item {
    position: relative;
    border: 0px;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 7%;
    text-align: left;
}

.cat-banner {
    position: absolute;
    width: 100%;
    height: 30%;
    top: 20%;
    background-color: rgb(14, 13, 13);
    opacity: 0.6;
}

.top-left {
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    color: white;
    top: 25%;
    left: 3%;
  }

.top-right {
    position: absolute;
    background-color: rgb(40, 39, 39);
    opacity: initial;
    border: 0;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 25px;
    top: 40%;
    right: 5%;
    z-index: 1000;
}

.select-container {
    margin-top: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    width: 15%;
    padding: 5px;
    font-size: 16px;
}

.select-container{
    margin-bottom: 15px;
}


/* MODAL, Main movie */
.modal-button {
    background-color: #ec0a19;
    border: 0;
    border-radius: 15px;
    color: #fff;
    margin: auto;
    font-size: 18px;
    padding: 10px 25px;
    margin-left: auto;
}

.modal-dialog{
    height: 80%;
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    /* Center modal */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0; 
    pointer-events: none; 
    top: 0;
    left: 0;
    height: 100vh; 
    width: 100vw;
    transition: opacity 0.3s ease;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
  }
  
.modal-content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* box shadow to add depth */
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
    text-align: center;
}
/* Modal informations */
.info-movie{
    left: 5%;
    font-weight: bold;
    font-size: 16px;
}

.fa.fa-close {
    display: none;
}

.btn.btn-danger {
    display: block;
    position: absolute;
    margin-top: 10%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn.btn-danger.ch1{
    position: relative;
    margin: 2%;
    font-weight: bold;
    font-size: 22px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}
.btn.btn-danger.ch2{
    position: relative;
    margin: 2%;
    font-weight: bold;
    font-size: 22px;
    left: 50%;
    display: none;
}

.btn.btn-danger.ch2.no-data {
    display: none !important;
}


/* desktop breakpoint */
@media only screen and (max-width: 1024px) {
    /* .head-bande{
        width: 60%;
        height: 60%;
    } */

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    .grid-container .grid-item:nth-child(n+5) {
        display: none;
    }
    
    .grid-container.show-more .grid-item:nth-child(n+5) {
        display: block;
    }

    .fa.fa-close {
        display: block;
    }
    .btn.btn-danger {
        display: none;
    }
    .btn.btn-danger.ch1{
        display: block;
    }
    .btn.btn-danger.ch2{
        display: block;
    }
}
.row-top {
    display: grid;
    gap: 20px;
}

.top-img {
    display: flex;
    max-height: 550px;
    justify-content: center;
    align-items: center;
}

.top-img img {
    margin-top: 2%;
    margin-bottom: 2%;
    max-height: 400px;
    width: 85%;
}



@media screen and (min-width: 780px) {
    .row-top {
        grid-template-columns: 1fr 1fr;
    }
    
    .top-img {
        max-height: none;
    }
    .modal-button{
        display: flex;
        margin-right: 1%;
    }
}



/* Mobile breakpoint */
@media screen and (max-width: 780px) {
    .head-logo{
        height: 90px;
    }

    .head-title-cont {
        display: none;
    }

    .logo {
        display: flex;  
        justify-content: center;
        align-items: center; 
    }

    .logo img {
        width: 90%;
        height: 95%;
        display: block;
        margin: auto;
    }
    
    .top-img{
        display: flex;
        max-height: 550px;
        justify-content: center;
        align-items: center; 
    }
    
    .top-img img{
        max-height: 250px;
        width: 75%;
    }

    .modal-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .best-movie, .category-title{
        display: flex;
        justify-content: center;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .grid-container .grid-item:nth-child(n+3) {
        display: none;
    }
    .grid-container.show-more .grid-item:nth-child(n+3) {
        display: block;
    }

}
